<!DOCTYPE html>
<html lang="en">
<head>
    <title>Produse</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="style.css" rel="stylesheet"/>
    <link href="style_form.css" rel="stylesheet"/>
	<style>
		table {
			width: 100%;
			background-color: white;
		}
		th,td {
			padding: 10px 20px 10px 40px;
			font-size: 15px;
			border-bottom: 1px solid lightgray;
			text-align: center;
		}
		th {
			color:  #0B3617;
		}
		span {
			padding-left: 10px;
		}

		#cumparaturi {
			position: relative;
			background-color: #FFF95E;
		}
		#cumparaturi p {
			width: 100%;
			color: #0B3617;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			padding: 20px;
			position: sticky;
			top: 0;
			margin: 0;
		}

	</style>
</head>
<body>
	<div id="logo" style="	width: 100%;height: 40px;background-color: #FFF95E;">
		<img style="width: 310px; height: 200px;" src="logo.png">
		<h3 id="welcome">Finalizare comanda </h3>
	</div>

	<div id="header"></div>

	<div style="width:100%">

		<div id="cumparaturi" style="width:48%; display: inline-block; max-height: 270px; border: 1px solid lightgray; border-radius: 5px; margin: 20px 0 20px 20px; overflow: auto">
			<table>
				<tr><th>Denumire produs</th><th>Cantitate</th><th>Pret</th></tr>
			</table>
		</div>

		<div class="container">
		  <form method="post" action="../procesarePlata.php">
		    <div class="row">
		      <div class="col-25">
		        <label for="nume">Nume</label>
		      </div>
		      <div class="col-75" id="nume-group">
		        <input type="text" id="nume" name="nume" placeholder="Introduceti numele">
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-25">
		        <label for="prenume">Prenume</label>
		      </div>
		      <div class="col-75" id="prenume-group"> 
		        <input type="text" id="prenume" name="prenume" placeholder="Introduceti prenumele">
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-25">
		        <label for="telefon">Telefon</label>
		      </div>
		      <div class="col-75" id="telefon-group">
		        <input type="text" id="telefon" name="telefon" placeholder="Introduceti numarul de telefon">
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-25">
		        <label for="adresa">Adresa</label>
		      </div>
		      <div class="col-75" id="adresa-group">
		        <input type="text" id="adresa" name="adresa" placeholder="Introduceti adresa">
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-25">
		        <label for="nr_card">Numar card</label>
		      </div>
		      <div class="col-75" id="nr_card-group">
		        <input type="text" id="nr_card" name="nr_card" placeholder="Introduceti numarul de card">
		      </div>
		    </div>
		    <div class="row">
		      <input style="background-color: #0B3617;" type="submit" id="submitbutton" value="Plateste">
		    </div>
		  </form>
		  <div>
		  	<a style="color:black; float:right; padding-top: 10px;" href="/produse">Inapoi</a>
		  </div>
		</div>
	</div>

</body>
</html>

<script type="text/JavaScript">
	$(document).ready(function() {
		const cosCumparaturi = JSON.parse(localStorage.getItem('cos'));
		var total = 0;
		Object.keys(cosCumparaturi).forEach(key => {
			total += cosCumparaturi[key].pret;
			var elem = '<tr><td>' + key + '</td><td>'+ cosCumparaturi[key].cantitate +'</td><td>'+ cosCumparaturi[key].pret +'<span>lei</span></td></tr>';
			$('#cumparaturi table').append(elem);var elemTotal =  '<tr>' + total + '<span>lei</span></tr>';
		});
		var elemTotal =  '<p>Total de plata:<span></span>' + total + '<span>lei</span></p>';
		$('#cumparaturi').append(elemTotal);
		console.log(cosCumparaturi);

		 $('form').submit(function(event) {

		 	$('input[type=text]').removeClass('has-error'); // remove the error class
    		$('.help-block').remove(); // remove the error text

		 	var formData = {
	            'nume'              : $('input[name=nume]').val(),
	            'prenume'             : $('input[name=prenume]').val(),
	            'telefon'    : $('input[name=telefon]').val(),
	            'adresa'    : $('input[name=adresa]').val(),
	            'nr_card'    : $('input[name=nr_card]').val(),
	            'cosCumparaturi' : cosCumparaturi
        	};

        	$.ajax({
	            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
	            url         : '../procesarePlata.php', // the url where we want to POST
	            data        : formData, // our data object
	            dataType    : 'json', // what type of data do we expect back from the server
	            encode          : true
	        })
	            // using the done promise callback
	            .done(function(data) {
	                if(data.status == 'success')
	                {
	                	$('form').append('<div class="alert alert-success">Id comanda: ' + data.id_comanda + '</div>');
						document.getElementById('submitbutton').disabled = true;

	                } else {
	                	console.log(data.errors.nume);
	                	if(data.errors.nume){
		                	$('#nume').addClass('has-error'); // add the error class to show red input
		                	$('#nume-group').append('<span class="help-block">' + data.errors.nume + '</span>'); // add the actual error message under our input
	                	}
	                	if(data.errors.prenume){
		                	$('#prenume').addClass('has-error'); 
		                	$('#prenume-group').append('<span class="help-block">' + data.errors.prenume + '</span>'); 
	                	}
	                	if(data.errors.telefon){
		                	$('#telefon').addClass('has-error'); 
		                	$('#telefon-group').append('<span class="help-block">' + data.errors.telefon + '</span>'); 
	                	}
	                	if(data.errors.adresa){
		                	$('#adresa').addClass('has-error'); 
		                	$('#adresa-group').append('<span class="help-block">' + data.errors.adresa + '</span>'); 
	                	}
	                	if(data.errors.nr_card){
		                	$('#nr_card').addClass('has-error'); 
		                	$('#nr_card-group').append('<span class="help-block">' + data.errors.nr_card + '</span>'); 
	                	}
	                	if(data.errors.cos){
		                	$('#cumparaturi').addClass('has-error'); 
		                	$('#cumparaturi').append('<span class="help-block">' + data.errors.cos + '</span>'); 
	                	}
	                }
	            });
	        // stop the form from submitting the normal way and refreshing the page
	        event.preventDefault();

		});

	});

</script>