<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Policlinica Corpore Sano</title>
    <meta charset="UTF-8"/>
	<link href="view/stylesignup.css" rel="stylesheet"/>
</head>
<body>
	<div class="login-box">
		<h1> Autentificare </h1>
		<form method="post" action="doLogin.php">
			<p>Nume utilizator:</p>
			<input type="text" name="username">
			<p>Parola: </p>
			<input type="password" name="password">
			<input type="submit" name="submit" value="Conectare">
			<a href="view/signup.html">
				<input class="inreg" type="button" value="Inregistreaza-te">
			</a>
		</form>
	</div>
</body>
</html>

