<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Inregistrare</title>
	<meta charset="UTF-8"/>s
	<link href="stylesignup.css" rel="stylesheet"/>
</head>
<body>
<div class="signup-box">
		<h1> INREGISTRARE </h1>
		<form method="post" action="inregistrareUser.php">
			<p>Numele dumneavoastra:</p>
			<input type="text" name="nume"><br>
			<p>Prenumele dumneavoastra:</p>
			<input type="text" name="prenume"><br>
			<p>Nume utilizator: </p>
			<input type = "text" name="username">
			<p>Parola: </p>
			<input type="password" name="password" ><br>
			<input type="submit" name="submit" value="Inregistrare">
		</form>
</div>
</body>
</html>